opencv-python==4.9.0.80
prometheus-client==0.13.1
kubernetes-python-client @ git+https://github.com/reconfigurable-ml-pipeline/kubernetes-python-client.git
barazmoon @ git+https://github.com/reconfigurable-ml-pipeline/load_tester
scipy==1.13.0